.addBook__Container {
  width: 100.5rem;
  min-height: 5rem;
  padding-left: 73px;
  border-radius: 4px;
  background-color: #fafafa;
  border: 1px solid #e8e8e8;
  padding-top: 30px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.addBook__title {
  width: 10.875rem;
  height: 1.5rem;
  font-family: Montserrat, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

.container__inputs {
  display: flex;
  gap: 40px;
}

.addBook__input {
  width: 41.5rem;
  height: 2.813rem;
  margin: 1.188rem 2.125rem 0 0;
  padding: 0.813rem 35.688rem 0.813rem 1.063rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  font-family: Montserrat, sans-serif;
}

.addBook__input::placeholder {
  font-family: Montserrat, sans-serif;
  color: #c4c4c4;
}

.addBook__author {
  width: 19.813rem;
  height: 2.813rem;
  margin: 1.188rem 2.125rem 0;
  padding: 0.375rem 0.938rem 0.563rem 1rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.addBook__btn {
  width: 16.5rem;
  height: 2.813rem;
  margin: 1.188rem 0 0 2.125rem;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  font-family: RobotoSlab, sans-serif;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
