.act__btn {
  height: 1.188rem;
  margin: 0.188rem 0.938rem 0 0;
  font-family: RobotoSlab, sans-serif;
  font-size: 0.875rem;
  font-stretch: normal;
  border: none;
  background: none;
  color: #4386bf;
  cursor: pointer;
}

.divider__btn {
  width: 0.125rem;
  height: 1.5rem;
  background-color: #e8e8e8;
  margin: 0 1rem;
}

.action__buttons {
  display: flex;
}
